.sidebar {
  padding: 20px;
  background: green;
}
.sidebar-cont {
  color: white;
  list-style-type: none;
  li {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    &:hover {
      cursor: pointer;
      color: black;
      font-size: 17px;
    }
  }
}
.admin-table {
  padding: 20px;
  padding-left: 40px;
}
.admin-cont {
  background: white;
}
