.page-container {
  padding: 10px 40px
}
.search-container {
  text-align: center;
  margin-top: 2em;
}
.search-container p {
  color: white;
  margin-bottom: 0;
}
.logo-thumb {
  width: 60px;
  height: 40px;
}
.landing-logo {
  height: 150px;
}
.search-input {
  background-color: white;
}
